:root {
  --bg-color: #030303;
  --grid-color: #3b3b3b;
  --glow-color: #d946ef;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 435%;
  background-image: url("../images/pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

/* хед */
.header {
  position: absolute;
  top: 22.5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -3;
}

.logo {
  width: 25vw;
  height: auto;
  max-width: 400px;
}

.stage {
  top: 0;
  left: 0;
  width: 100vw;
  height: 140vh;
  z-index: -3;
}

.base-grid {
  stroke: var(--grid-color);
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
  position: absolute;
  display: flex;
  justify-content: center;
}

.light-streak {
  fill: none;
  stroke: var(--glow-color);
  stroke-width: 2;
  stroke-linecap: square;
  filter: drop-shadow(0 0 5px var(--glow-color));
  opacity: 0.3;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.base-grid path:hover + .light-streak,
.light-streak:hover {
  opacity: 1;
  animation: circuit-flow 1s linear infinite;
}

/* розовые линии */
@keyframes circuit-flow {
  0% {
    stroke-dashoffset: 100%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: -120%;
    opacity: 0;
  }
}

.animating {
  animation: circuit-flow 5s linear infinite alternate;
}

.light-streak.paused {
  opacity: 0 !important;
  animation: none !important;
  transition: opacity 7s ease;
}

.base-grid,
.light-streak {
  pointer-events: all; /* Линии не должны перехватывать клики */
}

.First {
  position: absolute;
  top: 47.6vw;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.top1 {
  height: 10.2vw;
  display: flex;
}

.words {
  position: absolute;
  top: 15%;
  left: 65%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  width: 100%;
}

.PROTOTYPE,
.PROTOTYPE3,
.PROTOTYPE2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

.PROTOTYPE2 {
  letter-spacing: -0.02vw;
}
.PROTOTYPE3 {
  margin-left: 18vw;
}

.words2 {
  position: absolute;
  top: 58%;
  left: 79.7%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1.65vw;
  width: 100%;
}
.data,
.data2,
.data3,
.data4,
.data5,
.data6 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.02vw;
  color: #d4d4d4;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}
.data4 {
  margin-left: 3.3vw;
}
.data5 {
  margin-left: 3.3vw;
}
.data6 {
  margin-left: -0.6vw;
}

.lineAnimation {
  position: absolute;
  top: 80%;
  left: 29.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform: scale(1.04);
  transform-origin: center;
}
.pere {
  position: absolute;
  top: 0%;
  left: 231.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform-origin: center;
  z-index: 2;
}

.pere2 {
  position: absolute;
  top: 0%;
  left: 720.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform-origin: center;
  z-index: 2;
}

.pere {
  animation: animation1 2.5s ease-in-out infinite;
}

.pere2 {
  animation: animation2 3s ease-in-out infinite;
}

@keyframes animation1 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4vw);
  }
  75% {
    transform: translateX(10vw);
  }
}
@keyframes animation2 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10vw);
  }
  75% {
    transform: translateX(4vw);
  }
}

.NOTI1 {
  position: absolute;
  top: 134%;
  left: 13.5%;
  height: 11.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  z-index: 2;
}
.noti1-top,
.noti1-mid,
.noti1-bottom {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #7e7e7e;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}
.noti1-mid {
  font-size: 1vw;
  top: 3.2vw;
  left: 1vw;
  letter-spacing: -0.019vw;
}
.noti1-bottom {
  color: #d4d4d4;
  font-size: 1vw;
  top: 6.64vw;
  left: 1vw;
  letter-spacing: 0.03vw;
  line-height: 1.37vw;
}
.noti-image {
  width: 16.6vw;
  height: auto;
  display: block;
  z-index: 1;
}

/* фиолетовый слайдер */
.slider {
  position: absolute;
  top: 301%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 100;
}

.slider__window {
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.slider__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 100;
}

.slider__element {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.slider__element img {
  width: 4vw;
  height: auto;
  z-index: 100;
}

.slider__next,
.slider__prev {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 10;
  z-index: 100;
}

.slider__next img,
.slider__prev img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 100;
}

.slider__next:hover img,
.slider__prev:hover img {
  opacity: 0.7;
  z-index: 100;
}
.slider-bottom-text1 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}
.slider-bottom-text1-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}
.slider-bottom {
  position: absolute;
  top: 27.8vw;
  left: 13.5%;
  z-index: 70;
}

.slider-bottom img {
  width: 16.6vw;
  height: 7.7vw;
}

/* розовый слайдер */
.slider2 {
  position: absolute;
  top: 388%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 101;
}

.slider__window2 {
  overflow: hidden;
  width: 100%;
  z-index: 101;
}

.slider__list2 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 101;
}

.slider__element2 {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.slider__element2 img {
  width: 4vw;
  height: auto;
  z-index: 101;
}

.slider__next2,
.slider__prev2 {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 10;
  z-index: 101;
}

.slider__next2 img,
.slider__prev2 img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 101;
}

.slider__next2:hover img,
.slider__prev2:hover img {
  opacity: 0.7;
  z-index: 101;
}

.slider-bottom-text2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}

.slider-bottom-text2-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}

.slider-bottom2 {
  position: absolute;
  top: 36.7vw;
  left: 13.5%;
  z-index: 70;
}
.slider-bottom2 img {
  width: 16.6vw;
  height: 7.7vw;
}

/* очень фиолетовый  */
.slider3 {
  position: absolute;
  top: 475%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 101;
}

.slider__window3 {
  overflow: hidden;
  width: 100%;
  z-index: 101;
}

.slider__list3 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 101;
}

.slider__element3 {
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.slider__element3 img {
  width: 4vw;
  height: auto;
  z-index: 101;
}

.slider__next3,
.slider__prev3 {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 10;
  z-index: 101;
}

.slider__next3 img,
.slider__prev3 img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 101;
}

.slider__next3:hover img,
.slider__prev3:hover img {
  opacity: 0.7;
  z-index: 101;
}

.slider-bottom-text3 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}

.slider-bottom-text3-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}

.slider-bottom3 {
  position: absolute;
  top: 45.6vw;
  left: 13.5%;
  z-index: 70;
}
.slider-bottom3 img {
  width: 16.6vw;
  height: 7.7vw;
}

/* анимация кружочков  */
.circle1 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 14.9vw;
  z-index: 101;
  top: 24.8vw;
  left: 45.3vw;
}
.circle2 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 27.1vw;
  z-index: 101;
  top: 18.6vw;
  left: 39.1vw;
}
.circle3-1,
.circle3-2,
.circle3-3,
.circle3-4,
.circle3-5,
.circle3-6 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 32.66vw;
  z-index: 101;
  top: 15.9vw;
  left: 36.5vw;
}

/* секции с выбором  */
.square1 {
  position: absolute;
  display: flex;
  top: 18.6vw;
  left: 38vw;
  width: 4.4vw;
  height: 4.4vw;
  z-index: 101;
  border: 0.1vw solid #9d4edd;
  background-color: #060606;
  border-radius: 0.6vw;
}
