:root {
  --bg-color: #030303;
  --grid-color: #3b3b3b;
  --glow-color: #d946ef;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* хед */
.header {
  position: absolute;
  top: 22.5vw;
  left: 37.7vw;
  display: flex;
  justify-content: center;
  z-index: -3;
}

.logo {
  width: 25vw;
  height: auto;
  max-width: 400px;
}
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 372vh;
  z-index: -100;
  pointer-events: none;
}

.base-grid {
  stroke: var(--grid-color);
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
  position: absolute;
  display: flex;
  justify-content: center;
}

.light-streak {
  fill: none;
  stroke: var(--glow-color);
  stroke-width: 2;
  stroke-linecap: square;
  filter: drop-shadow(0 0 5px var(--glow-color));
  opacity: 0.3;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.base-grid path:hover + .light-streak,
.light-streak:hover {
  opacity: 1;
  animation: circuit-flow 1s linear infinite;
}

.base-grid,
.light-streak {
  pointer-events: none;
}

/* розовые линии */
@keyframes circuit-flow {
  0% {
    stroke-dashoffset: 100%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: -120%;
    opacity: 0;
  }
}

.animating {
  animation: circuit-flow 5s linear infinite alternate;
}

.light-streak.paused {
  opacity: 0 !important;
  animation: none !important;
  transition: opacity 7s ease;
}

.base-grid,
.light-streak {
  pointer-events: none;
}

.First {
  position: absolute;
  top: 47.6vw;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.top1 {
  height: 10.2vw;
  display: flex;
}

.ProtoIMG {
  position: absolute;
  width: 4.7vw;
  top: 5vw;
  left: 22.5vw;
  animation: rotateProto1 2s linear infinite;
  transform-origin: center center;
}

.ProtoIMG2 {
  position: absolute;
  width: 4.7vw;
  top: 5.5vw;
  left: 22.5vw;
  animation: rotateProto2 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotateProto1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateProto2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.words {
  position: absolute;
  top: 15%;
  left: 15vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  width: 0%;
}

.PROTOTYPE,
.PROTOTYPE3,
.PROTOTYPE2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

.PROTOTYPE2 {
  letter-spacing: -0.02vw;
}
.PROTOTYPE3 {
  margin-left: 18vw;
}

.words2 {
  position: absolute;
  top: 58%;
  left: 29.7%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1.65vw;
  width: 0;
}
.data,
.data2,
.data3,
.data4,
.data5,
.data6 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.02vw;
  color: #d4d4d4;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}
.data4 {
  margin-left: 3.3vw;
}
.data5 {
  margin-left: 3.3vw;
}
.data6 {
  margin-left: -0.6vw;
}

.lineAnimation {
  position: absolute;
  top: 80%;
  left: 29.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform: scale(1.04);
  transform-origin: center;
}
.pere {
  position: absolute;
  top: 0%;
  left: 231.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform-origin: center;
  z-index: 2;
}

.pere2 {
  position: absolute;
  top: 0%;
  left: 720.8%;
  height: 2vw;
  width: 5vw;
  display: flex;
  transform-origin: center;
  z-index: 2;
}

.pere {
  animation: animation1 2.5s ease-in-out infinite;
}

.pere2 {
  animation: animation2 3s ease-in-out infinite;
}

@keyframes animation1 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4vw);
  }
  75% {
    transform: translateX(10vw);
  }
}
@keyframes animation2 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10vw);
  }
  75% {
    transform: translateX(4vw);
  }
}

.NOTI1 {
  position: absolute;
  top: 134%;
  left: 13.5%;
  height: 11.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  z-index: 2;
}
.noti1-top,
.noti1-mid,
.noti1-bottom {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #7e7e7e;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}
.noti1-mid {
  font-size: 1vw;
  top: 3.2vw;
  left: 1vw;
  letter-spacing: -0.019vw;
}
.noti1-bottom {
  color: #d4d4d4;
  font-size: 1vw;
  top: 6.64vw;
  left: 1vw;
  letter-spacing: 0.03vw;
  line-height: 1.37vw;
}
.noti-image {
  width: 16.6vw;
  height: auto;
  display: block;
  z-index: 1;
}

/* фиолетовый слайдер */
.slider {
  position: absolute;
  top: 301%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 100;
}

.slider__window {
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.slider__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 100;
}

.slider__element {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.slider__element img {
  width: 4vw;
  height: auto;
  z-index: 100;
  transition: all 0.3s;
  cursor: pointer;
}

.slider__next,
.slider__prev {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 100;
}

.slider__next img,
.slider__prev img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 100;
}

.slider__next:hover img,
.slider__prev:hover img {
  opacity: 0.7;
}

.slider-bottom-text1 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}
.slider-bottom-text1-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}
.slider-bottom {
  position: absolute;
  top: 27.8vw;
  left: 13.5%;
  z-index: 70;
}

.slider-bottom img {
  width: 16.6vw;
  height: 7.7vw;
}

/* розовый слайдер */
.slider2 {
  position: absolute;
  top: 388%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 101;
}

.slider__window2 {
  overflow: hidden;
  width: 100%;
  z-index: 101;
}

.slider__list2 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 101;
}

.slider__element2 {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.slider__element2 img {
  width: 4vw;
  height: auto;
  z-index: 101;
  transition: all 0.3s;
  cursor: pointer;
}

.slider__next2,
.slider__prev2 {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 101;
}

.slider__next2 img,
.slider__prev2 img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 101;
}

.slider__next2:hover img,
.slider__prev2:hover img {
  opacity: 0.7;
}

.slider-bottom-text2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}

.slider-bottom-text2-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}

.slider-bottom2 {
  position: absolute;
  top: 36.7vw;
  left: 13.5%;
  z-index: 70;
}
.slider-bottom2 img {
  width: 16.6vw;
  height: 7.7vw;
}

/* очень фиолетовый слайдер */
.slider3 {
  position: absolute;
  top: 475%;
  left: 13.8%;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 101;
}

.slider__window3 {
  overflow: hidden;
  width: 100%;
  z-index: 101;
}

.slider__list3 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  width: 100%;
  z-index: 101;
}

.slider__element3 {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.slider__element3 img {
  width: 4vw;
  height: auto;
  z-index: 101;
  transition: all 0.3s;
  cursor: pointer;
}

.slider__next3,
.slider__prev3 {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  z-index: 101;
}

.slider__next3 img,
.slider__prev3 img {
  width: 0.8vw;
  height: auto;
  transition: opacity 0.2s;
  z-index: 101;
}

.slider__next3:hover img,
.slider__prev3:hover img {
  opacity: 0.7;
}

.slider-bottom-text3 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 1vw;
}

.slider-bottom-text3-2 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #eeeeee;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 0.7vw;
  left: 13vw;
}

.slider-bottom3 {
  position: absolute;
  top: 45.6vw;
  left: 13.5%;
  z-index: 70;
}
.slider-bottom3 img {
  width: 16.6vw;
  height: 7.7vw;
}

/* анимация кружочков */
.circle1 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 14.9vw;
  z-index: 101;
  top: 24.8vw;
  left: 45.3vw;
}
.circle2 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 27.1vw;
  z-index: 101;
  top: 18.6vw;
  left: 39.1vw;
}
.circle3-1,
.circle3-2,
.circle3-3,
.circle3-4,
.circle3-5,
.circle3-6 {
  position: absolute;
  display: flex;
  width: 4.8vw;
  height: 32.66vw;
  z-index: 101;
  top: 15.9vw;
  left: 36.5vw;
}
.circle1 img,
.circle2 img,
.circle3-1 img,
.circle3-2 img,
.circle3-3 img,
.circle3-4 img,
.circle3-5 img,
.circle3-6 img {
  animation: spin 10s linear infinite;
  transform-origin: center center;
  display: block;
}

.circle1 img {
  animation-duration: 30s;
}
.circle2 img {
  animation-duration: 10s;
}
.circle3-1 img {
  animation-duration: 15s;
}
.circle3-2 img {
  animation-duration: 5s;
  animation-direction: reverse;
}
.circle3-3 img {
  animation-duration: 20s;
}
.circle3-4 img {
  animation-duration: 10s;
  animation-direction: reverse;
}
.circle3-5 img {
  animation-duration: 5s;
}
.circle3-6 img {
  animation-duration: 15s;
  animation-direction: reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* квадраты выбора */
.square1,
.square2,
.square3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5vw;
  height: 4.5vw;
  z-index: 101;
  background-color: rgba(6, 6, 6, 0.9);
  border-radius: 0.6vw;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.square1 {
  top: 18.6vw;
  left: 38vw;
  border: 0.02vw solid #9d4edd;
}
.square2 {
  top: 40.5vw;
  left: 57.63vw;
  border: 0.02vw solid #cf58dd;
}
.square3 {
  top: 30.05vw;
  left: 50.58vw;
  border: 0.02vw solid #7034f2;
}

.square1 img,
.square2 img,
.square3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* стрелки с анимацией */
.arrow1,
.arrow2,
.arrow3 {
  position: absolute;
  display: flex;
  z-index: 110;
  animation: bounce 1s ease-in-out infinite;
  transition: opacity 0.3s ease;
}

.arrow1 {
  top: 15.6vw;
  left: 38.75vw;
}
.arrow2 {
  top: 37.6vw;
  left: 58.3vw;
}
.arrow3 {
  top: 27.3vw;
  left: 51.3vw;
}

.arrow1.hidden,
.arrow2.hidden,
.arrow3.hidden {
  opacity: 0;
  pointer-events: none;
  animation: none;
}

.arrow1 img,
.arrow2 img,
.arrow3 img {
  height: 3vw;
  width: 3vw;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* библиотека */
.library {
  position: absolute;
  top: 61.2vw;
  left: 73.75vw;
  width: 20vw;
  height: 25vw;
  z-index: 101;
}

.library-up-text {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #7e7e7e;
  white-space: nowrap;
  position: absolute;
  top: 0.76vw;
  left: 1.8vw;
  z-index: 103;
}

.library-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.library-pic img {
  width: 13.5vw;
  height: 19.3vw;
  object-fit: contain;
}

.amount {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #7e7e7e;
  white-space: nowrap;
  position: absolute;
  top: 17.5vw;
  left: 6.2vw;
  z-index: 103;
}

.slider-L1 {
  position: absolute;
  top: 17.3vw;
  left: 1.7vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 102;
}

.slider-L1 img {
  width: 0.8vw;
  height: 1vw;
}

.slider-L2 {
  position: absolute;
  top: 17.3vw;
  left: 11vw;
  width: 15.8vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1vw;
  z-index: 102;
}

.slider-L2 img {
  width: 0.8vw;
  height: 1vw;
}

.slider-L1,
.sliderL-2 {
  z-index: 200;
}

/* кнопка сохранения */
.save {
  position: absolute;
  display: flex;
  top: 82.9vw;
  left: 74.56vw;
  z-index: 101;
}

.save-button {
  width: 11.9vw;
  height: 2.3vw;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.02vw;
  color: #eeeeee;
  background: radial-gradient(circle, #833ed7, #bf8aff);
  border: 0.02vw solid #c6c6c6;
  border-radius: 0.6vw;
  cursor: pointer;
}

/* контейнер для сохраненных картинок */
.saved-items-container {
  position: absolute;
  top: 3.5vw;
  left: 1.8vw;
  width: 15vw;
  height: 12vw;
  overflow: hidden;
  z-index: 102;
}

.saved-items-track {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  width: fit-content;
  height: 100%;
}

.saved-item {
  width: 15vw;
  height: 12vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  color: #ffffff;
  font-family: "TTLakesNeueEduRegular";
  font-size: 0.8vw;
  overflow-y: auto;
}

.saved-item-content {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  width: 72%;
  height: 100%;
}

.saved-item-row {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  padding: 0.2vw 0;
}

.saved-item-row img {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border: 1px solid #9d4edd;
  border-radius: 0.2vw;
}

.saved-item-row-info {
  display: flex;
  flex-direction: column;
}

.saved-item-time {
  color: #9d4edd;
  font-size: 0.6vw;
  margin-bottom: 0.4vw;
}

.saved-item-name {
  color: #ffffff;
  font-size: 0.7vw;
}

.slider-L1,
.slider-L2 {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.slider-L1.active,
.slider-L2.active {
  opacity: 1;
  cursor: pointer;
}

.slider-L1.active:hover,
.slider-L2.active:hover {
  opacity: 0.8;
}

.slider-L1.disabled,
.slider-L2.disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none;
}

/* экран подтверждения */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: flex;
  opacity: 1;
}

.confirm-modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.confirm-modal .glow {
  position: absolute;
  top: -2vw;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: 60vw;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.415) 0%,
    rgba(255, 255, 255, 0.105) 30%,
    rgba(255, 255, 255, 0.059) 60%
  );
  border-radius: 50%;
  filter: blur(40px);
  z-index: 1;
  pointer-events: none;
}

.confirm-modal img {
  position: absolute;
  top: 20.6vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22vw;
  height: auto;
  z-index: 2;
  object-fit: contain;
}

.modal-content {
  position: absolute;
  top: 20.7vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22vw;
  height: 22vw;
  z-index: 3;
  color: white;
}

.noti002 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 0.8vw;
  color: #7e7e7e;
  top: 5.2vw;
  left: 1.4vw;
}

.notiDetail {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1.2vw;
  color: #7e7e7e;
  top: 8vw;
  left: 1.4vw;
}

.textDetail {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1.2vw;
  color: #ffffff;
  top: 13vw;
  left: 1.4vw;
  line-height: 1.65vw;
  width: 80%;
  text-align: left;
}

.modal-buttons {
  position: absolute;
  display: flex;
  gap: 1vw;
  bottom: -5.8vw;
  left: 0vw;
  flex-direction: column;
  width: 100%;
}

.modal-btn {
  padding: 0.8vw 2.5vw;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1.2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.modal-btn.yes {
  background: radial-gradient(circle, #833ed7, #bf8aff);
  color: #ffffff;
  box-shadow: 0 0 25px rgba(157, 78, 221, 0.2);
  border: none;
}

.modal-btn.yes:hover {
  background: radial-gradient(circle, #9149e9, #bf8aff);
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(157, 78, 221, 0.2);
}

.modal-btn.no {
  background: transparent;
  color: #ffffff;
  border: 0.08vw solid #e2e2e2;
}

.modal-btn.no:hover {
  background: rgba(75, 75, 75, 0.3);
  transform: scale(1.05);
  border-color: #e2e2e2;
}

body.no-scroll {
  overflow: hidden;
}

@keyframes modalAppear {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.confirm-modal {
  animation: modalAppear 0.3s ease;
}

/* свечение */
.circle1.glow::after,
.circle2.glow::after,
.circle3-1.glow::after,
.circle3-2.glow::after,
.circle3-3.glow::after,
.circle3-4.glow::after,
.circle3-5.glow::after,
.circle3-6.glow::after {
  opacity: 1;
}

.circle1.fast img,
.circle2.fast img,
.circle3-1.fast img,
.circle3-2.fast img,
.circle3-3.fast img,
.circle3-4.fast img,
.circle3-5.fast img,
.circle3-6.fast img {
  animation-duration: 10s !important;
}

.circle1.fast img {
  animation-duration: 1s !important;
}
.circle2.fast img {
  animation-duration: 2s !important;
}
.circle3-1.fast img {
  animation-duration: 5.5s !important;
}
.circle3-2.fast img {
  animation-duration: 3.5s !important;
}
.circle3-3.fast img {
  animation-duration: 8s !important;
}
.circle3-4.fast img {
  animation-duration: 4s !important;
}
.circle3-5.fast img {
  animation-duration: 3.5s !important;
}
.circle3-6.fast img {
  animation-duration: 3.5s !important;
}

.square1.saved-state,
.square2.saved-state,
.square3.saved-state {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.arrow1.saved-state,
.arrow2.saved-state,
.arrow3.saved-state {
  opacity: 0;
  pointer-events: none;
  animation: none;
  transition: opacity 0.5s ease;
}

.square1,
.square2,
.square3 {
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.square1.saved-state,
.square2.saved-state,
.square3.saved-state {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.circle1 img,
.circle2 img,
.circle3-1 img,
.circle3-2 img,
.circle3-3 img,
.circle3-4 img,
.circle3-5 img,
.circle3-6 img {
  transition: animation-duration 1s ease;
}

.circle1.fast img,
.circle2.fast img,
.circle3-1.fast img,
.circle3-2.fast img,
.circle3-3.fast img,
.circle3-4.fast img,
.circle3-5.fast img,
.circle3-6.fast img {
  animation-duration: 5s !important;
}

.circle1.fast img {
  animation-duration: 5s !important;
}
.circle2.fast img {
  animation-duration: 5s !important;
}
.circle3-1.fast img {
  animation-duration: 7.5s !important;
}
.circle3-2.fast img {
  animation-duration: 2.5s !important;
}
.circle3-3.fast img {
  animation-duration: 10s !important;
}
.circle3-4.fast img {
  animation-duration: 5s !important;
}
.circle3-5.fast img {
  animation-duration: 2.5s !important;
}
.circle3-6.fast img {
  animation-duration: 7.5s !important;
}

.arrow1,
.arrow2,
.arrow3 {
  transition: opacity 0.8s ease;
}

.arrow1.saved-state,
.arrow2.saved-state,
.arrow3.saved-state {
  opacity: 0;
  pointer-events: none;
}

/* второая секция */
.Second {
  position: absolute;
  top: 114.4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.SYNTH {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.68vw;
  color: #dedede;
  white-space: nowrap;
  top: 0vw;
  left: 34.8vw;
}

.interface2 {
  position: absolute;
  top: 3.6vw;
  left: 13.6vw;
  z-index: 101;
}

.interface2 img {
  width: 72.8vw;
  height: 47vw;
}

.progress {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72.8vw;
  height: var(--progress-height, 22vw);
  top: 10vw;
  z-index: 100;
  background-color: #292929;
  border-radius: 0.6vw;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.curveGREY {
  position: absolute;
  display: flex;
  width: 150%;
  height: 606%;
  object-fit: contain;
  object-position: center;
  transform-origin: center center;
  transform: translateX(-30%);
}

.curvePURPLE {
  position: absolute;
  display: flex;
  width: 188%;
  height: 606%;
  object-fit: contain;
  object-position: center;
  transform-origin: center center;
  transform: translateX(-50%);
}

.progress::after {
  content: "";
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  transform: translateY(-50%);
  z-index: -1;
}

.CONNECTION {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: #000000;
  white-space: nowrap;
  top: 8.3vw;
  left: 14.6vw;
  z-index: 102;
}

.CONNECTION::after {
  content: "";
  display: inline-block;
  width: 2.5vw;
  text-align: left;
  animation: dotsCycle 2.5s steps(7, end) infinite;
  color: #000000;
}

.CONNECTION.done::after {
  content: none !important;
  display: none !important;
  animation: none !important;
}

@keyframes dotsCycle {
  0%,
  100% {
    content: "";
  }
  14% {
    content: ".";
  }
  28% {
    content: ". .";
  }
  42% {
    content: ". . .";
  }
  57% {
    content: ". .";
  }
  71% {
    content: ".";
  }
  85% {
    content: "";
  }
}

.circle-click1,
.circle-click2,
.circle-click3,
.circle-click4,
.circle-click5,
.circle-click6,
.circle-click7,
.circle-click8,
.circle-click9,
.circle-click10,
.circle-click11,
.circle-click12 {
  position: absolute;
  display: flex;
  width: 1.9vw;
  height: 1.9vw;
  top: 8.4vw;
  z-index: 105;
  background: #888888;
  border-radius: 3vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circle-click1.active,
.circle-click2.active,
.circle-click3.active,
.circle-click4.active,
.circle-click5.active,
.circle-click6.active,
.circle-click7.active,
.circle-click8.active,
.circle-click9.active,
.circle-click10.active,
.circle-click11.active,
.circle-click12.active {
  background: radial-gradient(circle at 30% 30%, #7b31db, #cfa9ff);
  transform: scale(1.05);
}

.circle-click1:hover,
.circle-click2:hover,
.circle-click3:hover,
.circle-click4:hover,
.circle-click5:hover,
.circle-click6:hover,
.circle-click7:hover,
.circle-click8:hover,
.circle-click9:hover,
.circle-click10:hover,
.circle-click11:hover,
.circle-click12:hover {
  transform: scale(1.1);
}

.circle-click1.active:hover,
.circle-click2.active:hover,
.circle-click3.active:hover,
.circle-click4.active:hover,
.circle-click5.active:hover,
.circle-click6.active:hover,
.circle-click7.active:hover,
.circle-click8.active:hover,
.circle-click9.active:hover,
.circle-click10.active:hover,
.circle-click11.active:hover,
.circle-click12.active:hover {
  transform: scale(1.1);
}

.circle-click1 {
  left: 45.6%;
}
.circle-click2 {
  left: 48.3%;
}
.circle-click3 {
  left: 51%;
}
.circle-click4 {
  left: 53.7%;
}
.circle-click5 {
  left: 56.4%;
}
.circle-click6 {
  left: 59.1%;
}
.circle-click7 {
  left: 61.8%;
}
.circle-click8 {
  left: 64.5%;
}
.circle-click9 {
  left: 67.2%;
}
.circle-click10 {
  left: 69.9%;
}
.circle-click11 {
  left: 72.6%;
}
.circle-click12 {
  left: 75.3%;
}

.Count2 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: #000000;
  white-space: nowrap;
  top: 8.3vw;
  left: 80.3vw;
  z-index: 102;
}

.words3 {
  position: absolute;
  top: 133.4%;
  left: 22%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  width: 0;
  z-index: 110;
}

.data2-1,
.data2-2,
.data2-3,
.data2-4 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.02vw;
  color: #d4d4d4;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  letter-spacing: 0.01vw;
}
.data2-3 {
  margin-left: -0.2vw;
}
.data2-4 {
  margin-left: -1.37vw;
  color: #fe01de;
}
.data2-5 {
  margin-left: 6.9vw;
}
.data2-6 {
  margin-left: 0.1vw;
}

.data2-5,
.data2-6 {
  position: absolute;
  display: inline-block;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.02vw;
  color: #d4d4d4;
  white-space: nowrap;
  letter-spacing: 0.01vw;
  z-index: 150;
}

.data-row {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  top: 29.4vw;
  left: 66.2vw;
  z-index: 152;
  align-items: center;
}

.data2-5 {
  position: relative;
  margin: 0;
  color: #d4d4d4;
}

.data2-6 {
  position: relative;
  margin: 0;
  color: #d4d4d4;
}

.NOTI003 {
  position: absolute;
  display: flex;
  top: 33.45vw;
  left: 14.8vw;
  width: 10vw;
  height: 11.8vw;
  z-index: 110;
}

.noti03 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 0.8vw;
  color: #777777;
  top: 0.6vw;
  left: 1vw;
}

.notiDetail3 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1vw;
  color: #5f5f5f;
  top: 3.3vw;
  width: 16vw;
  left: 1vw;
  letter-spacing: 0.025vw;
}

.textDetail3 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1vw;
  color: #000000;
  top: 6.6vw;
  left: 1vw;
  width: 14vw;
  line-height: 1.37vw;
}

.greyCircle {
  position: absolute;
  display: flex;
  width: 0.9vw;
  height: 0.9vw;
  top: -4vw;
  left: 50.1vw;
  z-index: 105;
  background: radial-gradient(#ff53d4);
  border-radius: 3vw;
}

.purpleCircle {
  position: absolute;
  display: flex;
  width: 0.9vw;
  height: 0.9vw;
  top: -4vw;
  left: 56.3vw;
  z-index: 105;
  background: #c549ff;

  border-radius: 3vw;
}

/* белые ползунки */
.slider-container {
  position: absolute;
  z-index: 105;
}

.slider-container.left {
  left: 38.3vw;
  top: 35.66vw;
}

.slider-container.right {
  left: 59.67vw;
  top: 35.66vw;
}

.slider-container.neiro.left {
  top: 42.66vw;
}

.slider-container.neiro.right {
  top: 42.66vw;
}

.slider-track {
  width: 20.6vw;
  height: 2.55vw;
  background: radial-gradient(circle at 50% 110%, #7b31db, #cfa9ff);
  border-radius: 0.7vw;
  position: relative;
  cursor: pointer;
}

.slider-container.neiro .slider-track {
  background: radial-gradient(circle at 80% 110%, #ff7edf, #ff4ad2);
}

.slider-thumb {
  position: absolute;
  width: 0.7vw;
  height: 2.1vw;
  background: #e0e0e0;
  border-radius: 0.7vw;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: grab;
  transition: box-shadow 0.2s;
  z-index: 106;
  pointer-events: auto;
}

.slider-thumb:active {
  cursor: grabbing;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.slider-thumb:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.slider-label {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-size: 1vw;
  color: #000000;
  width: 16vw;
  top: -2.5vw;
  left: 0;
  z-index: 110;
}

/* заблокированный ползунок */
.slider-thumb.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
}

.progressDiv {
  position: absolute;
  top: 49.6vw;
  left: 13.6vw;
  background-color: #ffffff;
  height: 2.3vw;
  width: 72.9vw;
  border-radius: 0.5vw;
  z-index: 120;
}

.progressDiv2 {
  position: absolute;
  top: 49.87vw;
  left: 14.05vw;
  background-color: #888888;
  height: 1.7vw;
  width: 72vw;
  border-radius: 0.5vw;
  z-index: 121;
}

.progressDiv1 {
  position: absolute;
  top: 49.87vw;
  left: 14.05vw;
  background-color: #8e8e8e;
  height: 1.7vw;
  width: 72vw;
  border-radius: 0.5vw;
  z-index: 122;
}

.progressDiv2 {
  position: absolute;
  top: 49.87vw;
  left: 14.05vw;
  background-color: #888888;
  height: 1.7vw;
  width: 0vw;
  border-radius: 0.5vw;
  z-index: 123;
  transition:
    width 0.5s ease-out,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.progressDiv2.full {
  background-color: #9d4edd;
  box-shadow: 0 0 10px rgba(157, 78, 221, 0.5);
}

/* третья секция */
.Third {
  position: absolute;
  top: 179vw;
  left: 0;
  width: 100%;
  min-height: 60vw;
  z-index: -2;
}

.wordsThirdSection {
  position: absolute;
  top: 1.2vw;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  white-space: nowrap;
  z-index: 15;
}

.HUMANIZATION {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.68vw;
  color: #000000;
  white-space: nowrap;
}

.TakeItHumanization {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: #000000;
  white-space: nowrap;
  letter-spacing: -0.02vw;
}

.TakeItHumanizationNumber {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  margin-left: 14.4vw;
}

.HeartIMG {
  position: absolute;
  width: 7vw;
  top: 5.2vw;
  left: 4.3vw;
}
.HeartIMG2 {
  position: absolute;
  width: 8.5vw;
  top: 6.2vw;
  left: 3.6vw;
  animation: HEARTWobble 2s ease-in-out infinite alternate;
  transform-origin: center center;
}

@keyframes HEARTWobble {
  0%,
  100% {
    transform: rotate(16deg);
  }

  75% {
    transform: rotate(-18deg);
  }
}

.interface3-image {
  position: absolute;
  top: 0vw;
  left: 13.6vw;
  width: 72.8vw;
  object-fit: contain;
  z-index: 14;
}

.squarePink {
  position: absolute;
  height: 10vw;
  width: 13.5vw;
  left: 15.1vw;
  border-radius: 0.7vw;
  background-color: #929292;
  z-index: 10;
}

.NOTI-004 {
  position: absolute;
  top: 5.9vw;
  left: 32.3vw;
  height: 11.8vw;
  display: flex;
  transform-origin: center;
  z-index: 10;
}

.NOTI-004-top,
.NOTI-004-mid,
.NOTI-004-bottom {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #7e7e7e;
  white-space: nowrap;
  position: absolute;
  z-index: 3;
  top: 1.45vw;
  left: 0.7vw;
}

.NOTI-004-mid {
  font-size: 1vw;
  top: 3.9vw;
  letter-spacing: -0.019vw;
}

.NOTI-004-bottom {
  color: #d4d4d4;
  font-size: 1vw;
  top: 7.2vw;
  letter-spacing: 0.03vw;
  line-height: 1.37vw;
}

.NOTI-004-image {
  width: 23.3vw;
  display: block;
  z-index: 1;
}

.road0 {
  width: 86vw;
  display: block;
  position: absolute;
  top: 7.7vw;
  left: 14.1vw;
  z-index: -30;
  transition: opacity 0.5s ease;
}

.heart1,
.heart2,
.heart3,
.heart4 {
  position: absolute;
  top: 51.5vw;
  left: 92.1vw;
  width: 3.6vw;
  height: auto;
  z-index: -0;
  animation: heartMove 12s ease-out infinite;
}

.heart1SVG,
.heart2-1SVG,
.heart3-1SVG,
.heart4-1SVG {
  width: 100%;
  height: auto;
  display: block;
}

.heart2SVG,
.heart2-2SVG,
.heart3-2SVG,
.heart4-2SVG {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: -3vw;
  left: 0;
  z-index: 0;
  animation: floatUpDown 1.5s ease-in-out infinite;
}

.heart1 {
  animation: heartMove 8s ease-in-out infinite;
  animation-delay: 0s;
}

.heart2 {
  animation: heartMove 8s ease-in-out infinite;
  animation-delay: 2s;
}

.heart3 {
  animation: heartMove 8s ease-in-out infinite;
  animation-delay: 4s;
}

.heart4 {
  animation: heartMove 8s ease-in-out infinite;
  animation-delay: 6s;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes heartMove {
  0% {
    transform: translate(-4vw, 0);
  }
  9% {
    transform: translate(-70vw, 0);
  }
  18% {
    transform: translate(-76vw, -2vw);
  }
  27% {
    transform: translate(-77vw, -7vw);
  }
  36% {
    transform: translate(-74vw, -13vw);
  }
  45% {
    transform: translate(-68.5vw, -14.5vw);
  }
  54% {
    transform: translate(-20vw, -14.5vw);
  }
  63% {
    transform: translate(-13.3vw, -17vw);
  }
  72% {
    transform: translate(-13vw, -23vw);
  }
  81% {
    transform: translate(-18vw, -29vw);
  }
  90% {
    transform: translate(-75vw, -29vw);
  }
  100% {
    transform: translate(-75vw, -45vw);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.NOTI-004-top,
.NOTI-004-mid,
.NOTI-004-bottom {
  transition: all 0.3s ease;
}

.road0 {
  width: 86vw;
  display: block;
  position: absolute;
  top: 7.7vw;
  left: 14.1vw;
  z-index: -30;
  transition: opacity 0.5s ease;
}

.heart1,
.heart2,
.heart3,
.heart4 {
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.heart1:hover,
.heart2:hover,
.heart3:hover,
.heart4:hover {
  transform: scale(1.05);
}

.squarePink {
  transition: background 0.5s ease;
}

.three-d-section {
  position: absolute;
  top: 253vw;
  left: 12vw;
  right: 0;
  width: 75%;
  z-index: 20;
  padding: 40px 20px;
  box-sizing: border-box;
  pointer-events: none;
}

.three-d-frame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: linear-gradient(135deg, #494949, #8a8a8a, #494949);
  border-radius: 1vw;
  padding: 1px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.three-d-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  overflow: hidden;
  pointer-events: auto;
}

model-viewer {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: block;
  pointer-events: auto;
}

/* подвал */
.basement {
  position: absolute;
  top: 310vw;
  left: 0;
  width: 100.5%;
  z-index: 10;
  display: block;
}

.backBasement {
  width: 100%;
  height: auto;
  display: block;
}

.basement-words {
  position: absolute;
  top: 1vw;
  left: 52vw;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.7vw;
  flex-wrap: nowrap;
  z-index: 20;
  width: 0%;
}

.circleBasement,
.circleBasement1,
.circleBasement2,
.circleBasement3 {
  position: absolute;
  height: 18vw;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 2s linear infinite;
  z-index: 5;
}

.circleBasement1 {
  animation: rotate 6s linear infinite;
}

.circleBasement2 {
  animation: rotate 4s linear infinite;
}

.circleBasement3 {
  animation: rotate 3s linear infinite;
}

.small-circleBasement {
  position: absolute;
  height: 10vw;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 4s linear infinite;
  z-index: 6;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lineBasement {
  position: absolute;
  width: 71vw;
  height: auto;
  top: 19vw;
  left: 16.5vw;
  z-index: 4;
}

.basement-data,
.basement-data2,
.basement-data3,
.basement-data4,
.basement-data5,
.basement-data6,
.basement-data7 {
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.74vw;
  color: #939393;
  white-space: nowrap;
  margin: 0;
}

.basement-data3 {
  margin: 4.2vw;
}

.basement-data8,
.basement-data8-1 {
  position: absolute;
  font-family: "TTLakesNeueEduRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: #000000;
  white-space: nowrap;
  margin: 0;
}

.basement-data8 {
  top: 17.6vw;
  left: 18vw;
}

.basement-data8-1 {
  top: 20.2vw;
  left: 67.6vw;
}

/* ноу мор сдвг */
#circuit-svg,
#grid-group,
#light-group,
.base-grid,
.light-streak {
  pointer-events: none !important;
}
